<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${category.categoryName}"></title>
	<link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<body>
	<div class="container">
		<header>
			<h1 th:text="${category.categoryName}"></h1>
		</header>
		<main>
			<section class="category-section-one">
				<article>
					<img src="./images/anime.jpg" alt="Anime and Manga"/> 
				</article>
			</section>
			<section class="category-section-two">
				<article th:each="category: ${category.reviews}">
					<ul class="categoryUl">
						<li><h4><a th:href="@{/review(id=${category.id})}" th:text="${category.title}"></a></h4></li>
						<p><small>Tags: <a th:each="tag: ${category.tags}" th:href="@{/tag(id=${tag.id})}" th:text="${tag}" ></a></small></p>
					</ul>
				</article>
			</section>
		</main>
		<footer>
			<section>
				<h3><a href="http://localhost:8080/categories">Back to home</a></h3> 
				<h3><a href="http://localhost:8080/tags">Tags</a></h3>
			</section>
		</footer>
	</div>
</body>
</html>