<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Tags</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<body>
	<div class="container">	
		<header>
			<h1 th:text="${tag.tagName}"></h1>
		</header>
		<main>
			<section class="review-section-one">
				<article>
					<h2>Reviews associated with <em th:text="${tag.tagName}"></em></h2>
				</article>
			</section>
			<section class="review-section-two" th:each="tag: ${tag.reviews}">
				<ul>
					<li><h4><a th:href="@{/review(id=${tag.id})}" th:text="${tag.title}"></a></h4></li>
				</ul>
			</section>
			<section>
				<form method="POST">
					<div id="add-review">
						<label>Title to Add:</label>
						<input type="text" name="titleName1" />
					</div>
					<div>
						<!-- <button th:formaction="@{/add-review}">Add Review</button> -->
						<button>Add Review:</button>
					</div>
				</form>

				<form method="POST">
					<div id="remove-review">
						<label>Title to Remove:</label>
						<input type="text" name="titleName2" />
					</div>
					<div>
						<!-- <button th:formaction="@{/del-review}">Remove Review</button> -->
						<button>Remove Review</button>
					</div>
				</form>

				<form method="GET">
					<div>
						<!-- <button th:formaction="@{/sort-reviews}">Sort Reviews</button> -->
						<button>Sort Reviews</button>
					</div>
				</form>
			</section>
		</main>
		<footer>
			<section>
				<h3><a href="http://localhost:8080/categories">Back to Home</a></h3>
				<h3><a href="http://localhost:8080/category?id=1">Back to Category</a></h3>
				<h3><a href="http://localhost:8080/tags">Tags</a></h3>
			</section>
		</footer>
	</div>
</body>
</html>