<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>A List of Tags</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<body>
	<div class="container">
		<header>
			<h1>A List of Tags</h1>
			<input type="hidden" id="tag-id" th:value="${tag.id}" />
		</header>

		<main>
			<section  class="review-tags">
				<p><STRONG>Tags:  <a th:each="tag: ${tags}"	th:href="@{/tag(id=${tag.id})}" th:text="${tag}" ></a></STRONG></p>
			</section>

			<section>
				<form method="POST">
					<div>
						<label>Enter Tag:</label>
						<input type="text" name="AddTag" />
					</div>
					<div>
						<input type="button" class="add-tag" value="Add Tag"></input>
						<!-- <button>Add Tag</button> (If I can use ajax then delete if not then keep)-->
					</div>
				</form>

				<form method="POST">
					<div>
						<label>Enter Tag:</label>
						<input type="text" name="removeTag" />
					</div>
					<div>
						<!-- <button th:formaction="@{/del-tag}">Remove Tag</button> -->
						<button>Remove Tag</button>
					</div>
				</form>

				<form method="GET">
					<div>
						<!-- <button th:formaction="@{/sort-tags}">Sort Tags</button> -->
						<button>Sort Tags</button>
					</div>
				</form>
			</section>

		</main>

		<footer>
			<section>
				<h4><a href="http://localhost:8080/categories">Back to Home</a></h4>
				<h4><a href="http://localhost:8080/category?id=1">Back to Anime Category</a></h4>
				<h4><a href="http://localhost:8080/category?id=2">Back to Manga Category</a></h4>
			</section>
		</footer>
	</div>
</body>
<script src="./js/app.js"></script>
</html>