<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>A List of Tags</title>
</head>
<body>
	<header>
		<h1>A List of Tags</h1>
	</header>
	
	<div th:each="tag: ${tags}">
	<p>
		<a th:href="@{/tag(id=${tag.id})}" th:text="${tag.tagName}"></a>
	</p>
	</div>
	
	<form method="POST">
		<div>
			<label>Enter Tag:</label>
			<input type="text" name="name" />
		</div>
		<div>
			<!-- <button th:formaction="@{/add-course}"> add course</button> -->
			<button>Add Tag</button>
		</div>
	</form>
</body>
</html>