<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>A List of Tags</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<body>
	<div class="container">
		<header>
			<h1>A List of Tags</h1>
		</header>

		<main>
				<section  class="review-tags">
					<p><STRONG>Tags:  <a th:each="tag: ${tags}"	th:href="@{/tag(id=${tag.id})}" th:text="${tag}" ></a></STRONG></p>
				</section>
			<div class="tag" th:each="tags: ${tags}">
				<section>
					<form method="POST">
						<div id="add-tag">
							<label>Enter Tag:</label>
							<input type="text" name="AddTag" />
						</div>
						<div>
							<input name="id" type="hidden" th:value="${tags}" />
						</div>
						<div>
							<button type="submit" th:formaction="@{/add-tag}">Add Tag</button>
						</div>
					</form>

					<form method="POST">
						<div>
							<label>Enter Tag:</label>
							<input type="text" name="removeTag" />
						</div>
						<div>
							<button>Remove Tag</button>
						</div>
					</form>

					<form method="GET">
						<div>
							<button>Sort Tags</button>
						</div>
					</form>
				</section>
			</div>
		</main>

		<footer>
			<section>
				<h4><a href="http://localhost:8080/categories">Back to Home</a></h4>
				<h4><a href="http://localhost:8080/category?id=1">Back to Anime Category</a></h4>
				<h4><a href="http://localhost:8080/category?id=2">Back to Manga Category</a></h4>
			</section>
		</footer>
	</div>
</body>
</html>